# Analysere ER for å finne riktige variabler å etterligne

Har lastet ned ER fra https://hotell.difi.no/download/brreg/enhetsregisteret?download og lagret som **er.csv**.

Kan ikke ha IDer (funker dårlig pluss unyttig).

In [1]:
import pandas as pd

ImportError: No module named 'requests'

In [6]:
!apt -y update && apt -y install curl && apt -y install wget

Get:1 http://security.ubuntu.com/ubuntu xenial-security InRelease [107 kB]
Get:2 http://archive.ubuntu.com/ubuntu xenial InRelease [247 kB]
Ign:3 http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64  InRelease
Ign:4 http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64  InRelease
Get:5 http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64  Release [564 B]
Get:6 http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64  Release [564 B]
Get:7 http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64  Release.gpg [801 B]
Get:8 http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64  Release.gpg [801 B]
Get:9 http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1604/x86_64  Packages [136 kB]
Get:10 http://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1604/x86_64  Packages [25.2 kB]
Get:11 http://archive.ubuntu.com/ubuntu xenial-updates InRelease [109 kB]
Get:12 http://security.ubuntu.com/ubuntu xenial-security/universe Sources [84.1 kB]
Get:13 http://archive.ubuntu.com/ubuntu xenial-backports InRelease [107 kB]
Get:14 http://archive.ubuntu.com/ubuntu xenial/universe Sources [9802 kB]m
Get:15 http://security.ubuntu.com/ubuntu xenial-security/main amd64 Packages [668 kB]
Get:16 http://security.ubuntu.com/ubuntu xenial-security/restricted amd64 Packages [12.7 kB]m
Get:17 http://security.ubuntu.com/ubuntu xenial-security/universe amd64 Packages [455 kB]
Get:18 http://security.ubuntu.com/ubuntu xenial-security/multiverse amd64 Packages [3738 B]
Get:19 http://archive.ubuntu.com/ubuntu xenial/main amd64 Packages [1558 kB]
Get:20 http://archive.ubuntu.com/ubuntu xenial/restricted amd64 Packages [14.1 kB]
Get:21 http://archive.ubuntu.com/ubuntu xenial/universe amd64 Packages [9827 kB]
Get:22 http://archive.ubuntu.com/ubuntu xenial/multiverse amd64 Packages [176 kB]
Get:23 http://archive.ubuntu.com/ubuntu xenial-updates/universe Sources [261 kB]
Get:24 http://archive.ubuntu.com/ubuntu xenial-updates/main amd64 Packages [1046 kB]
Get:25 http://archive.ubuntu.com/ubuntu xenial-updates/restricted amd64 Packages [13.1 kB]
Get:26 http://archive.ubuntu.com/ubuntu xenial-updates/universe amd64 Packages [828 kB]
Get:27 http://archive.ubuntu.com/ubuntu xenial-updates/multiverse amd64 Packages [18.8 kB]
Get:28 http://archive.ubuntu.com/ubuntu xenial-backports/main amd64 Packages [7321 B]
Get:29 http://archive.ubuntu.com/ubuntu xenial-backports/universe amd64 Packages [8086 B]
Fetched 25.5 MB in 3s (7838 kB/s)33m
Reading package lists... Done
Building dependency tree
Reading state information... Done
71 packages can be upgraded. Run 'apt list --upgradable' to see them.
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  libcurl3-gnutls
The following packages will be upgraded:
  curl libcurl3-gnutls
2 upgraded, 0 newly installed, 0 to remove and 69 not upgraded.
Need to get 323 kB of archives.
After this operation, 0 B of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu xenial-updates/main amd64 curl amd64 7.47.0-1ubuntu2.8 [139 kB]
Get:2 http://archive.ubuntu.com/ubuntu xenial-updates/main amd64 libcurl3-gnutls amd64 7.47.0-1ubuntu2.8 [185 kB]
Fetched 323 kB in 0s (594 kB/s)
debconf: delaying package configuration, since apt-utils is not installed

(Reading database ... 12597 files and directories currently installed.)
Preparing to unpack .../curl_7.47.0-1ubuntu2.8_amd64.deb ...
7Progress: [  0%] [..........................................................] 87Progress: [  9%] [######....................................................] 8Unpacking curl (7.47.0-1ubuntu2.8) over (7.47.0-1ubuntu2.5) ...
7Progress: [ 18%] [###########...............................................] 87Progress: [ 27%] [################..........................................] 8Preparing to unpack .../libcurl3-gnutls_7.47.0-1ubuntu2.8_amd64.deb ...
7Progress: [ 36%] [######################....................................] 8Unpacking libcurl3-gnutls:amd64 (7.47.0-1ubuntu2.8) over (7.47.0-1ubuntu2.5) ...
7Progress: [ 45%] [###########################...............................] 87Progress: [ 54%] [################################..........................] 8Processing triggers for libc-bin (2.23-0ubuntu9) ...
Setting up libcurl3-gnutls:amd64 (7.47.0-1ubuntu2.8) ...
7Progress: [ 63%] [#####################################.....................] 87Progress: [ 72%] [###########################################...............] 8Setting up curl (7.47.0-1ubuntu2.8) ...
7Progress: [ 81%] [################################################..........] 87Progress: [ 90%] [#####################################################.....] 8Processing triggers for libc-bin (2.23-0ubuntu9) ...

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  wget
0 upgraded, 1 newly installed, 0 to remove and 69 not upgraded.
Need to get 299 kB of archives.
After this operation, 905 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu xenial-updates/main amd64 wget amd64 1.17.1-1ubuntu1.4 [299 kB]
Fetched 299 kB in 0s (644 kB/s)0m
debconf: delaying package configuration, since apt-utils is not installed

78Selecting previously unselected package wget.
(Reading database ... 12597 files and directories currently installed.)
Preparing to unpack .../wget_1.17.1-1ubuntu1.4_amd64.deb ...
7Progress: [  0%] [..........................................................] 87Progress: [ 16%] [##########................................................] 8Unpacking wget (1.17.1-1ubuntu1.4) ...
7Progress: [ 33%] [####################......................................] 87Progress: [ 50%] [#############################.............................] 8Setting up wget (1.17.1-1ubuntu1.4) ...
7Progress: [ 66%] [#######################################...................] 87Progress: [ 83%] [#################################################.........] 8
78

In [7]:
!curl  https://hotell.difi.no/download/brreg/enhetsregisteret?download > /storage/er.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  237M    0  237M    0     0   667k      0 --:--:--  0:06:03 --:--:-- 5899k 173M    0     0   508k      0 --:--:--  0:05:49 --:--:-- 4346k

In [8]:
er = pd.read_csv('/storage/er.csv', sep=";")

In [9]:
er.dtypes

orgnr                  int64
navn                  object
organisasjonsform     object
forretningsadr        object
forradrpostnr        float64
forradrpoststed       object
forradrkommnr        float64
forradrkommnavn       object
forradrland           object
postadresse           object
ppostnr              float64
ppoststed             object
ppostland             object
regifr                object
regimva               object
nkode1               float64
nkode2               float64
nkode3               float64
sektorkode           float64
konkurs               object
avvikling             object
tvangsavvikling       object
regiaa                object
regifriv              object
regdato               object
stiftelsesdato        object
tlf                   object
tlf_mobil             object
url                   object
regnskap             float64
hovedenhet           float64
ansatte_antall       float64
ansatte_dato          object
dtype: object

In [10]:
er.shape

(1098180, 33)

In [11]:
er.loc[:, ["nkode1", "forradrkommnr", "sektorkode", "ansatte_antall", "regdato"]].tail()

         nkode1  forradrkommnr  sektorkode  ansatte_antall     regdato
1098175  41.109         1865.0      2100.0             NaN  03.10.2009
1098176  96.090          937.0      7000.0             NaN  27.04.2015
1098177  86.909         1246.0      2100.0             1.0  10.03.2015
1098178  68.209          220.0      2100.0             NaN  30.03.2016
1098179  90.020          301.0      8200.0             NaN  09.10.2015

33 variabler, mesteparten unødvendig. Viktige ting å ha med:
- Næringskode (nkode1)
- kommune (forradrkommnr)
- sektor (sektorkode)
- Antall ansatte (ansatte_antall)
- Stiftelsesdato (grunnet NaN bruker heller regdato, bonus: mindre entropi)

Må også gjøre om en del datatyper.

Leser inn på nytt.

In [13]:
import numpy as np
dtypes = {'nkode1': 'str', 'forradrkommnr': 'str', 'sektorkode': 'str', 'regdato': 'str' }
parse_dates = ['regdato']

prepare = pd.read_csv('/storage/er.csv', sep=";", dtype=dtypes, parse_dates=parse_dates).query('ansatte_antall>0')

In [14]:
prepare.dtypes

orgnr                         int64
navn                         object
organisasjonsform            object
forretningsadr               object
forradrpostnr               float64
forradrpoststed              object
forradrkommnr                object
forradrkommnavn              object
forradrland                  object
postadresse                  object
ppostnr                     float64
ppoststed                    object
ppostland                    object
regifr                       object
regimva                      object
nkode1                       object
nkode2                      float64
nkode3                      float64
sektorkode                   object
konkurs                      object
avvikling                    object
tvangsavvikling              object
regiaa                       object
regifriv                     object
regdato              datetime64[ns]
stiftelsesdato               object
tlf                          object
tlf_mobil                    object
url                          object
regnskap                    float64
hovedenhet                  float64
ansatte_antall              float64
ansatte_dato                 object
dtype: object

In [15]:
prepare.loc[:, ["nkode1", "forradrkommnr", "sektorkode", "ansatte_antall", "regdato"]].tail()

         nkode1 forradrkommnr sektorkode  ansatte_antall    regdato
1098152  47.111          0701       8200             4.0 1995-02-19
1098155  68.209          0301       2100             5.0 1995-02-20
1098161  68.201          0104       8300            10.0 1995-02-19
1098168  68.201          5001       8300             3.0 2006-10-24
1098177  86.909          1246       2100             1.0 2015-10-03

Need dummies for:
- nkode1
- forradrkommnr
- sektorkode

instead of dummies, tokenize? Nah. Start with dummies.

In [16]:
dummies = {}
for arg in ["nkode1", "forradrkommnr", "sektorkode"]:
    dummies[arg] = pd.get_dummies(prepare[arg], prefix=arg)

In [17]:
dummies.keys()

dict_keys(['forradrkommnr', 'nkode1', 'sektorkode'])

In [18]:
dummies["forradrkommnr"].head()

,forradrkommnr_0101,forradrkommnr_0104,forradrkommnr_0105,forradrkommnr_0106,forradrkommnr_0111,forradrkommnr_0118,forradrkommnr_0119,forradrkommnr_0121,forradrkommnr_0122,forradrkommnr_0123,...,forradrkommnr_5045,forradrkommnr_5046,forradrkommnr_5047,forradrkommnr_5048,forradrkommnr_5049,forradrkommnr_5050,forradrkommnr_5051,forradrkommnr_5052,forradrkommnr_5053,forradrkommnr_5054
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
df = prepare.loc[:, ["nkode1", "forradrkommnr", "sektorkode", "ansatte_antall", "regdato"]]

In [20]:
df.drop(dummies.keys(), axis=1, inplace=True)

In [21]:
for key in dummies.keys():
    df = df.join(dummies[key])

In [22]:
df.shape

(173447, 1231)

In [23]:
df.dtypes

ansatte_antall               float64
regdato               datetime64[ns]
forradrkommnr_0101             uint8
forradrkommnr_0104             uint8
forradrkommnr_0105             uint8
forradrkommnr_0106             uint8
forradrkommnr_0111             uint8
forradrkommnr_0118             uint8
forradrkommnr_0119             uint8
forradrkommnr_0121             uint8
forradrkommnr_0122             uint8
forradrkommnr_0123             uint8
forradrkommnr_0124             uint8
forradrkommnr_0125             uint8
forradrkommnr_0127             uint8
forradrkommnr_0128             uint8
forradrkommnr_0135             uint8
forradrkommnr_0136             uint8
forradrkommnr_0137             uint8
forradrkommnr_0138             uint8
forradrkommnr_0211             uint8
forradrkommnr_0213             uint8
forradrkommnr_0214             uint8
forradrkommnr_0215             uint8
forradrkommnr_0216             uint8
forradrkommnr_0217             uint8
forradrkommnr_0219             uint8
forradrkommnr_0220             uint8
forradrkommnr_0221             uint8
forradrkommnr_0226             uint8
                           ...
nkode1_96.020                  uint8
nkode1_96.030                  uint8
nkode1_96.040                  uint8
nkode1_96.090                  uint8
nkode1_97.000                  uint8
nkode1_99.000                  uint8
sektorkode_1110                uint8
sektorkode_1120                uint8
sektorkode_1510                uint8
sektorkode_1520                uint8
sektorkode_2100                uint8
sektorkode_2300                uint8
sektorkode_2500                uint8
sektorkode_3100                uint8
sektorkode_3200                uint8
sektorkode_3500                uint8
sektorkode_3600                uint8
sektorkode_3900                uint8
sektorkode_4100                uint8
sektorkode_4500                uint8
sektorkode_4900                uint8
sektorkode_5500                uint8
sektorkode_5700                uint8
sektorkode_6100                uint8
sektorkode_6500                uint8
sektorkode_7000                uint8
sektorkode_8200                uint8
sektorkode_8300                uint8
sektorkode_8500                uint8
sektorkode_9000                uint8
Length: 1231, dtype: object

In [24]:
df.head()

,ansatte_antall,regdato,forradrkommnr_0101,forradrkommnr_0104,forradrkommnr_0105,forradrkommnr_0106,forradrkommnr_0111,forradrkommnr_0118,forradrkommnr_0119,forradrkommnr_0121,...,sektorkode_4900,sektorkode_5500,sektorkode_5700,sektorkode_6100,sektorkode_6500,sektorkode_7000,sektorkode_8200,sektorkode_8300,sektorkode_8500,sektorkode_9000
0,76.0,1996-05-28,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,1.0,2013-09-19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,2.0,2018-01-31,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,4.0,2013-08-24,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
27,1.0,2014-06-19,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
!pip install tables

Collecting tables
  Downloading https://files.pythonhosted.org/packages/a5/df/d70f5df27f72082b4c6977d202788904f613089667e791c4aca0986bb229/tables-3.4.4-cp35-cp35m-manylinux1_x86_64.whl (3.8MB)
    100% |################################| 3.8MB 431kB/s eta 0:00:01
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.5/dist-packages (from tables)
Requirement already satisfied: numpy>=1.8.0 in /usr/local/lib/python3.5/dist-packages (from tables)
Collecting numexpr>=2.5.2 (from tables)
  Downloading https://files.pythonhosted.org/packages/35/06/069e881aa4bb2a2c46ad01da9b31f60e703d47456a89124b77ed816742c4/numexpr-2.6.6-cp35-cp35m-manylinux1_x86_64.whl (162kB)
    100% |################################| 163kB 8.1MB/s eta 0:00:01
Installing collected packages: numexpr, tables
Successfully installed numexpr-2.6.6 tables-3.4.4
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [27]:
import tables

In [28]:
df.to_hdf('/storage/er_predict.h5', 'table')